    h1 {
        text-align: center;
    }
    body{
        font-size: 16px;
        align-content: center;
    }
    table {
        table-layout: fixed;
        width: 97%;
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    th,
    td {
        padding: 5px;
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .filtr{
        margin: 10px;
        font-size: 16px;
        align-content: center; 
    }
    button{
        margin: 10px;
        background-color:aqua;
    }
    label{
        margin: 5px;
    }
    input{
        margin: 5px;
    }